@font-face {
  font-family: "Young Serif";
  src: url("/assets/fonts/young-serif/YoungSerif-Regular.ttf");
}

@font-face {
  font-family: "Outfit";
  src: url("/assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}

:root{

--clr-neutral-000: hsl(0, 0%, 100%);
--clr-neutral-100: hsl(30, 54%, 90%);
--clr-neutral-150: hsl(30, 18%, 87%);
--clr-neutral-600: hsl(30, 10%, 34%);
--clr-neutral-900: hsl(24, 5%, 18%);

--clr-Brown-800: hsl(14, 45%, 36%);

--clr-rose-800: hsl(332, 51%, 32%);
--clr-rose-400: hsl(29, 53%, 90%);
--clr-rose-50: hsl(330, 100%, 98%);

--clr-body: var(--clr-neutral-600);
--clr-time: var(--clr-rose-800);
--clr-subhead: var(--clr-Brown-800);
--clr-heading: var(--clr-neutral-900);
--clr-bkgd: var(--clr-neutral-000);

--fw-ys-reg: 400;
--fw-of-reg: 400;
--fw-of-semi: 600;
--fw-of-bold: 700;

--fs-body: 1rem;
--fs-prept: 1.3rem;
--fs-heading: 2.5rem;
--fs-subheading: 1.8rem;
}

/*-----------------------------------------------------------------------------*/
/*--------------------- General Settings --------------------------------------*/
/*-----------------------------------------------------------------------------*/

html {
  font-size: 16px
}

body {
  min-height: 100vh;           /* Full viewport height */
  display: flex;
  justify-content: center;     /* Center horizontally */
  align-items: center;         /* Center vertically */
  margin: 0;                   /* Remove default margin */
  background-color: var(--clr-rose-400);
  max-width: 100%;
  padding-top: 8.5rem;
}

.main-card {
  background-color: var(--clr-bkgd);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 46em;
  max-width: 100%;
  border-radius: 1.25em;
  margin-bottom:10%;
}

h1 {
  font-family: "Young Serif", sans-serif;
  color: var(--clr-heading);
  font-size: var(--fs-heading);
  font-weight: var(--fw-of-reg);
  font-display: swap;
}

h2 {
  font-family: "Young Serif", sans-serif;
  color: var(--clr-Brown-800);
  font-size: var(--fs-subheading);
  font-weight: var(--fw-of-reg);
  font-display: swap;
}

hr.solid {
  border-top: 1px solid var(--clr-neutral-100);
}

/*-----------------------------------------------------------------------------*/
/*-------------------- Introduction Card --------------------------------------*/
/*-----------------------------------------------------------------------------*/

.intro-card {
    width: 90%;
}

.intro-card h1 {
    padding-inline: 0.2rem;
    padding-top: 0.2rem;
}

.intro-card p {
  font-family: "Outfit", sans-serif;
  color: var(--clr-neutral-900);
  font-size: var(--fs-body);
  font-weight: var(--fw-of-reg);
  font-display: swap;
  padding-top: 0.2rem;
  line-height: 1.4rem;
  margin-top: -0.85rem;
  padding-left: 0.25rem;
  padding-bottom: 1rem;
}

.recipe-img img {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  margin: auto;
  margin-top: 2.5em;
}

/*-----------------------------------------------------------------------------*/
/*-------------------- Preparation Card ---------------------------------------*/
/*-----------------------------------------------------------------------------*/

.preparation-container {
  background-color: var(--clr-rose-50);
  width: 85%;
  border-radius: 0.45em;
  padding: 0.5em;
}

.preparation-container h2 {
  font-family: "Outfit", sans-serif;
  color: var(--clr-time);
  font-size: var(--fs-prept);
  font-weight: var(--fw-of-semi);
  font-display: swap;
  padding-left: 0.5em;
}

.preparation-container li {
  color: var(--clr-time);
  line-height: 1rem;
  padding-left: 1em;
}

.preparation-container ul {
  padding-left: 2.25em;
}

.preparation-container P {
  font-family: "Outfit", sans-serif;
  color: var(--clr-body);
  font-size: var(--fs-body);
  font-weight: var(--fw-of-reg);
  font-display: swap;
}

/*-----------------------------------------------------------------------------*/
/*-------------------- Ingredients Card ---------------------------------------*/
/*-----------------------------------------------------------------------------*/

.ingredients-card {
  width: 90%;
  margin-top: 0.6rem;
}

.ingredients-card ul {
  padding-left: 1.5rem;
  padding-bottom: 0.15rem;
}

.ingredients-card li {
  padding-left: 1.25rem;
}

.ingredients-card h2 {
  margin-left: 0.25rem;
  font-family: "Young Serif", sans-serif;
  color: var(--clr-Brown-800);
  font-size: var(--fs-subheading);
  font-weight: var(--fw-of-reg);
  font-display: swap;
}

.ingredients-card p {
  margin-top: -0.25rem;
  font-family: "Outfit", sans-serif;
  color: var(--clr-body);
  font-size: var(--fs-body);
  font-weight: var(--fw-of-reg);
  font-display: swap;
}

/*-----------------------------------------------------------------------------*/
/*------------------ Instructions Card ----------------------------------------*/
/*-----------------------------------------------------------------------------*/

.instructions-card {
  width: 90%;
  margin-top: -0.45rem;
}

.instructions-card h2 {
  padding-left: 0.2rem;
}

.instructions-card ol {
  padding-left: 1.75rem;
  padding-bottom: 0.15rem;
  margin-top: -0.2rem;
}


.instructions-card li {
  color: var(--clr-Brown-800);
  font-family: "Outfit", sans-serif;
  font-size: var(--fs-body);
  font-weight: var(--fw-of-bold);
  font-display: swap;
  padding-left: 1rem;
  line-height: 1.2rem;
}

.instructions-card p {
  font-family: "Outfit", sans-serif;
  color: var(--clr-body);
  font-size: var(--fs-body);
  font-weight: var(--fw-of-reg);
  font-display: swap;
}

/*-----------------------------------------------------------------------------*/
/*-------------------- Nutritions Card ----------------------------------------*/
/*-----------------------------------------------------------------------------*/

.nutrition-container {
  width: 90%;
  margin-top: -0.4rem;
}

.nutrition-container p {
  font-family: "Outfit", sans-serif;
  color: var(--clr-body);
  font-size: var(--fs-body);
  font-weight: var(--fw-of-reg);
  font-display: swap;
  margin-top: -0.25em;
}

.nutrition-container h3 {
  font-family: "Outfit", sans-serif;
  color: var(--clr-Brown-800);
  font-size: var(--fs-body);
  font-weight: var(--fw-of-bold);
  font-display: swap;
}

.nutrition-container table {
  table-layout: fixed;
  min-width: 700px;
  width: 80%;
  border-collapse: collapse; /*to avoid double borders and unwanted spacing*/
}

.nutrition-container tr:not(:last-child) td  {
  border-bottom: 1px solid var(--clr-neutral-100);
}

.nutrition-container tr:last-child td {
  border-bottom: none; /* No border for the last row */
}